@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

// VARIABLES
$poppins-font: "Poppins", sans-serif;
$montserrat-font: "Montserrat", sans-serif;
$blue: #1d9bf0;
$black: #13171a;
$gray-H: #617788;
$gray-M: #a7b8c3;
$gray-L: #dfe8ee;
$white: #f4f8fa;

.home-container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
